/* main */
main {}
/* 페이지바 */
main .pageBar {
    display: flex; flex-flow: column nowrap;
    justify-content: space-between; align-items: center;
    position: fixed;
    right: 50px; top: 40vh;
}
main .pageBar p {
    font-weight: 600;
    font-size: 1.125rem; font-family: kanit;
}
main .pageBar .currentPageNum {padding-bottom: 10px;}
main .pageBar .allBar {
    background-color: rgba(120,120,120,0.2); 
    width: 2px; height: 120px;
}
main .pageBar .allBar .currentBar {
    display: block;
    background-color: #000; 
    width: 2px; height: 20px;
}
main .pageBar .totalPageNum {padding-top: 10px;}
/* 빠른메뉴 */
.sideMenu {
    position: fixed; right: 30px; bottom: 100px;
}
.sideMenu a {
    display: flex; flex-flow: row nowrap;
    align-items: center;
    margin: 10px 0;
}
.sideMenu .businessLink {
    background-color: rgba(213,0,55,0.9);
    border-radius: 500px;
    padding: 15px 25px;
    color: #fff;
    width: max-content;
    font-size: 1.125rem; font-weight: bold;
}
.sideMenu a img {
    margin-left: 10px;
    width: 35px;
}
.sideMenu .topBtn {
    position: absolute;
    right: 0;
}
.sideMenu .topBtn .fa-arrow-up {
    text-align: center;
    width: 60px; padding: 15px 0;
    color: #fff; font-size: 24px;
    background-color: rgba(112, 112, 112, 0.7);
}
/* header */
header {
    /* position: fixed; */
    height: 100px;
    display: flex; flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 50px 65px ;
}
header .default {}
header .hvr {display: none;} /* hover 했을 때 block */
header h1 a {}
header h1 a img {}
/* nav */
header nav {}
header nav .gnb {
    display: flex; flex-flow: row nowrap; 
}
header nav .gnb > li {
    position: relative;
}
header nav .gnb > li:nth-child(3) > a {padding-right: 100px;}
header nav .gnb > li:nth-child(5) > a {padding-right: 80px;}
header nav .gnb > li > a {
    font-size: 1.125rem;
    padding-right: 60px;
    color: #fff; 
    font-weight: bold;
    display: block;
}
header nav .gnb > li > a {color: #000;} /* hover */
header nav .gnb > li > .lnbBg {
    /* display: none; */
    position: absolute;
}
header nav .gnb > li > .lnbBg > .lnbContainer {
    /* background-color: tomato; */
    width: 100%;
}
header nav .gnb > li > .lnbBg > .lnbContainer > .lnb {}
header nav .gnb > li > .lnbBg > .lnbContainer > .lnb > li {
    text-align: left; 
    padding: 10px 0;
}
header nav .gnb > li > .lnbBg > .lnbContainer > .lnb > li > a {
    display: block; font-weight: bold;
}
header nav .gnb > li > .lnbBg > .lnbContainer > .lnb > li > .lnbSub {}
header nav .gnb > li > .lnbBg > .lnbContainer > .lnb > li > .lnbSub > li {}
header nav .gnb > li > .lnbBg > .lnbContainer > .lnb > li > .lnbSub > li > a {
    color: #707070; font-size: 0.875rem; padding-top: 10px;
    display: block;
}
header nav .subAllBg {
    /* display: none; */
    background-color: #fff;
    background-color: rgba(5, 5, 5, 0.5);
    position: absolute;
    width: 100%; height: 390px;
    z-index: -20;
    top: 0; left: 0;
}
/* header right */
header .headerRight {
    display: flex; flex-flow: row nowrap;
}
header .headerRight a {}
header .headerRight .lang {
    border: 1px solid #fff; border-radius: 100px;
    font-size: 0.875rem; color: #fff;
    padding: 3px 20px 6px; text-align: center;
}
header .headerRight .lang {border: 1px solid #000; border-radius: 100px; color: #000;} /* hover */
header .headerRight .allMenuDefault,
header .headerRight .allMenuHvr {
    padding-left: 30px;
}
header .headerRight .allMenuDefault {}
header .headerRight .allMenuHvr {display: none;} /* hover 했을 때 block */
header .headerRight .allMenuHvr img {}
header .headerRight .allMenu img {}
/* hover 없애고 자바스크립트 적용
header:hover .hvr {display: block;}
header:hover .default {display: none;}
header:hover nav .gnb > li > a {color: #000;}
header:hover nav .gnb > li > .lnbBg > .lnbContainer > .lnb {display: block;}
header:hover nav .subAllBg {display: flex;}
header:hover .headerRight .lang {border: 1px solid #000; border-radius: 100px; color: #000;}
header:hover .headerRight .allMenuDefault {display: none;}
header:hover .headerRight .allMenuHvr {display: inline;} */
/* all menu */
header .allMenuWrap {display: none;}
header .allMenuWrap a {}
header .allMenuWrap a img {}
header .allMenuWrap .leftMenu {}
header .allMenuWrap .leftMenu h1 {}
header .allMenuWrap .leftMenu h1 a {}
header .allMenuWrap .leftMenu h1 a img {}
header .allMenuWrap .leftMenu .gnb {}
header .allMenuWrap .leftMenu .gnb li {}
header .allMenuWrap .leftMenu .gnb li a {}
header .allMenuWrap .leftMenu .gnb li a .lnb {}
header .allMenuWrap .leftMenu .gnb li a .lnb li {}
header .allMenuWrap .leftMenu .gnb li a .lnb li a {}
header .allMenuWrap .leftMenu .gnb li a .lnb li .lnbSub {}
header .allMenuWrap .leftMenu .gnb li a .lnb li .lnbSub li {}
header .allMenuWrap .leftMenu .gnb li a .lnb li .lnbSub li a {}
header .allMenuWrap .rightMenu {}
header .allMenuWrap .rightMenu .rightTop {}
header .allMenuWrap .rightMenu .rightTop a {}
header .allMenuWrap .rightMenu .rightBtm {}
header .allMenuWrap .rightMenu .rightBtm a {}
header .allMenuWrap .rightMenu .rightBtm a img {}