/* main */
main {}
/* 페이지바 */
.pageBar {
    z-index: 300;
    display: flex; flex-flow: column nowrap;
    justify-content: space-between; align-items: center;
    position: fixed;
    right: 50px; top: 40vh;
}
.pageBar p {
    font-weight: 600;
    font-size: 1.125rem; font-family: kanit;
}
.pageBar .currentPageNum {padding-bottom: 10px;}
.pageBar .allBar {
    background-color: rgba(120,120,120,0.2); 
    width: 2px; height: 120px;
}
.pageBar .allBar .currentBar {
    display: block;
    background-color: #000; 
    width: 2px; height: 20px;
}
.pageBar .totalPageNum {padding-top: 10px;}
/* 빠른메뉴 */
.sideMenu {
    position: fixed; right: 30px; bottom: 30px;
    z-index: 100; display: flex; flex-flow: column nowrap; align-items: flex-end;
}
.sideMenu a {
    display: flex; flex-flow: row nowrap;
    align-items: center;
    margin: 10px 0;
}
.sideMenu .businessLink {
    background-color: rgba(213,0,55,0.9);
    border-radius: 500px;
    padding: 15px 25px;
    color: #fff;
    width: max-content;
    font-size: 1.125rem; font-weight: bold;
}
.sideMenu a img {
    margin-left: 10px;
    width: 35px;
}
.sideMenu .topBtn {
    overflow: hidden;
}
.sideMenu .topBtn .fa-arrow-up {
    text-align: center;
    width: 60px; padding: 15px 0;
    color: #fff; font-size: 24px;
    background-color: rgba(112, 112, 112, 0.7);
}
/* header */
header {
    z-index: 800;
    position: fixed;
    height: 100px;
    width: 100%;
    display: flex; flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 50px 65px ;
}
header.scrollBg {background-color: rgba(0,0,0,0.8);}
header .default {}
/* header .hvr {display: none;} hover 했을 때 block */
header h1 a {}
header h1 a img {}
/* nav */
header nav {}
header nav .gnb {
    display: flex; flex-flow: row nowrap; 
    justify-content: space-between; align-items: center;
}
header nav .gnb > li {
    position: relative;
    /* background-color: yellow; */
    width: 180px;
}
header nav .gnb > li:nth-child(1) {width: 200px;}
header nav .gnb > li:nth-child(2) {width: 150px;}
header nav .gnb > li:nth-child(4) {width: 250px;}
header nav .gnb > li > a {
    font-size: 1.125rem;
    color: #000; 
    font-weight: bold;
    display: block;
}
header.index1 nav .gnb > li > a {color: #fff;}
header.index1 nav .gnb > li > a.hoverColor {color: #000;}
header nav .gnb > li > .lnbBg {
    /* display: none; */
    top: 50px;
    width: 100%;
    position: absolute;
    /* background-color: tomato; */
    height: 500px;
    overflow: hidden;
}
header nav .gnb > li > .lnbBg > .lnbContainer {
    /* background-color: tomato; */
    width: 100%;
}
header nav .gnb > li > .lnbBg > .lnbContainer > .lnb {}
header nav .gnb > li > .lnbBg > .lnbContainer > .lnb > li {
    text-align: left; 
    padding: 10px 0;
}
header nav .gnb > li > .lnbBg > .lnbContainer > .lnb > li > a {
    display: block; font-weight: bold;
}
header nav .gnb > li > .lnbBg > .lnbContainer > .lnb > li > .lnbSub {}
header nav .gnb > li > .lnbBg > .lnbContainer > .lnb > li > .lnbSub > li {}
header nav .gnb > li > .lnbBg > .lnbContainer > .lnb > li > .lnbSub > li > a {
    color: #707070; font-size: 0.875rem; padding-top: 10px;
    display: block;
}
header nav .subAllBg {
    /* display: none; */
    background-color: #fff;
    /* background-color: rgba(5, 5, 5, 0.5); */
    position: absolute;
    width: 100%; height: 390px;
    z-index: -20;
    top: 0; left: 0;
    box-shadow: 0 5px 20px rgba(120,120,120,0.1);
}
/* header right */
header .headerRight {
    display: flex; flex-flow: row nowrap;
}
header .headerRight a {}
header .headerRight .lang {
    border: 1px solid #000; border-radius: 100px;
    font-size: 0.875rem; color: #000;
    padding: 3px 20px 6px; text-align: center;
}
header .headerRight .lang.hoverColor {
    border: 1px solid #fff; color: #fff;
}
header .headerRight .allMenuDefault,
header .headerRight .allMenuHvr {
    padding-left: 30px;
}
header .headerRight .allMenuDefault {}
header .headerRight .allMenuHvr img {}
header .headerRight .allMenu img {}
/* hover 없애고 자바스크립트 적용
header:hover .hvr {display: block;}
header:hover .default {display: none;}
header:hover nav .gnb > li > a {color: #000;}
header:hover nav .gnb > li > .lnbBg > .lnbContainer > .lnb {display: block;}
header:hover nav .subAllBg {display: flex;}
header:hover .headerRight .lang {border: 1px solid #000; border-radius: 100px; color: #000;}
header:hover .headerRight .allMenuDefault {display: none;}
header:hover .headerRight .allMenuHvr {display: inline;} */
/* all menu */
header .allMenuContainer .allMenuWrap {display: none;}
header .allMenuContainer .allMenuWrap a {}
header .allMenuContainer .allMenuWrap a img {}
header .allMenuContainer .allMenuWrap .leftMenu {}
header .allMenuContainer .allMenuWrap .leftMenu h1 {}
header .allMenuContainer .allMenuWrap .leftMenu h1 a {}
header .allMenuContainer .allMenuWrap .leftMenu h1 a img {}
header .allMenuContainer .allMenuWrap .leftMenu .gnb {}
header .allMenuContainer .allMenuWrap .leftMenu .gnb li {}
header .allMenuContainer .allMenuWrap .leftMenu .gnb li a {}
header .allMenuContainer .allMenuWrap .leftMenu .gnb li a .lnb {}
header .allMenuContainer .allMenuWrap .leftMenu .gnb li a .lnb li {}
header .allMenuContainer .allMenuWrap .leftMenu .gnb li a .lnb li a {}
header .allMenuContainer .allMenuWrap .leftMenu .gnb li a .lnb li .lnbSub {}
header .allMenuContainer .allMenuWrap .leftMenu .gnb li a .lnb li .lnbSub li {}
header .allMenuContainer .allMenuWrap .leftMenu .gnb li a .lnb li .lnbSub li a {}
header .allMenuContainer .allMenuWrap .rightMenu {}
header .allMenuContainer .allMenuWrap .rightMenu .rightTop {}
header .allMenuContainer .allMenuWrap .rightMenu .rightTop a {}
header .allMenuContainer .allMenuWrap .rightMenu .rightBtm {}
header .allMenuContainer .allMenuWrap .rightMenu .rightBtm a {}
header .allMenuContainer .allMenuWrap .rightMenu .rightBtm a img {}
/* footer */
/* .footerWrap div{position: absolute; bottom: 0;} */
footer * {color: #fff;}
footer {
    padding-bottom: 40px;
    margin-top: 240px;
    background-color: #222;
    width: 100%;
    position: relative; bottom: -100px;
}
/* footer 상단 */
footer .ftrTop {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 auto;
    max-width: 1320px;
    padding: 50px 0;
    border-bottom: 2px solid rgba(255,255,255,0.15);
}
/* footer 상단 왼쪽 */
footer .ftrTop .topLeft {
    display: flex; flex-flow: column nowrap;
}
footer .ftrTop .topLeft > a {
    font-size: 1.5rem;
    font-weight: 700;
    padding-bottom: 20px;
}
footer .ftrTop .topLeft > a:last-child {padding-bottom: 0;}
/* footer 상단 오른쪽 */
footer .ftrTop .topRight {
    display: flex; flex-flow: column nowrap;
}
footer .ftrTop .topRight dt {font-weight: 700; padding-bottom: 10px;}
footer .ftrTop .topRight dd {color: #777; font-size: 0.875rem; padding-bottom: 40px;}
footer .ftrBtm {
    max-width: 1320px; margin: 0 auto; padding: 50px 0;
}
/* footer 하단 */
footer .ftrBtm .btmMenu {}
footer .ftrBtm .btmMenu > a {
    font-size: 0.875rem; font-weight: 700;
    margin-right: 30px;
}
footer .ftrBtm .btmMenu > a em {color: #f5ce3e; font-weight: 700; font-size: 0.875rem;}
footer .ftrBtm address {
    padding-top: 20px;
    width: 50%;
}
footer .ftrBtm address span {
    color: #777; font-size: 0.875rem; 
    display: inline-block;
    font-weight: 500;
    line-height: 1.8;
}
footer .ftrBtm address span:last-child {font-size: 0.75rem; padding-top: 20px;}
footer .ftrBtm address span:nth-child(2):after,
footer .ftrBtm address span:nth-child(3):after,
footer .ftrBtm address span:nth-child(5):after {
    margin: 0 10px;
    content: ''; display: inline-block;
    background-color: #777; width: 1px; height: 11px;
}
footer .ftrBtm .sns {float: right;}
footer .ftrBtm .sns > a {padding-left: 10px;}
footer .ftrBtm .sns > a img {}
/* 모바일 footer */
footer .ftrBtm address .mobileAddress {display: none;}
footer .ftrBtm address .mobileAddress span {}
/* 전체메뉴 */
/* header{display: none;} */
.allMenuContainer{display: none;}
.allMenuContainer .allMenuWrap{
    background-color: #222; width: 100%;height: 100vh; z-index: 99999;
}
.allMenuContainer .allMenuWrap .allMenuTop{display: flex; flex-flow: row nowrap; justify-content: space-between; align-items: center; padding: 45px;}
.allMenuContainer .allMenuWrap .allMenuTop a{}
.allMenuContainer .allMenuWrap .allMenuTop #allMenuClose {}
.allMenuContainer .allMenuWrap .leftMenu{margin-left: 18%; margin-top: 2%;}
.allMenuContainer .allMenuWrap > .leftMenu > .gnb{position: relative;}
.allMenuContainer .allMenuWrap > .leftMenu > .gnb > li{margin-top: 40px;}
.allMenuContainer .allMenuWrap > .leftMenu > .gnb > li > a{display: block; color: #fff; font-size: 3rem; line-height: 71px; font-weight: 800; transition:all .3s cubic-bezier(0.16, 0.04, 0.03, 0.95); position: relative;}
.allMenuContainer .allMenuWrap > .leftMenu > .gnb > li > a::before{content: ''; display: inline-block; position: absolute; width: 12px; height: 12px; background-color: #d50037; transition: all 0.3s cubic-bezier(0.16, 0.04, 0.03, 0.95); top: 0; left: 0; opacity: 0;}
.allMenuContainer .allMenuWrap > .leftMenu > .gnb > li > a:hover:before{transform: translateX(-50px); opacity: 1;}
.allMenuContainer .allMenuWrap > .leftMenu > .gnb > li > .lnb{position: absolute; left: 600px; top: 0; text-align: left; padding-bottom: 8px;}
.allMenuContainer .allMenuWrap > .leftMenu > .gnb > li > .lnb > li{margin-top: 32px;}
.allMenuContainer .allMenuWrap > .leftMenu > .gnb > li > .lnb > li > a{color: #fff; font-size: 2rem; line-height: 48px; font-weight: 700;}
.allMenuContainer .allMenuWrap > .leftMenu > .gnb > li:nth-child(1) > .lnb > li .lnbSub{}
.allMenuContainer .allMenuWrap > .leftMenu > .gnb > li > .lnb > li .lnbSub > li{margin-top: 16px;}
.allMenuContainer .allMenuWrap > .leftMenu > .gnb > li > .lnb > li .lnbSub > li > a{color: #ccc; font-size: 1.5rem; line-height: 36px;}
.allMenuContainer .allMenuWrap > .rightMenu{text-align: right; position: absolute; right: 80px; bottom: 80px;}
.allMenuContainer .allMenuWrap > .rightMenu .rightTop{padding-bottom: 30px;}
.allMenuContainer .allMenuWrap > .rightMenu .rightTop > li{padding-top: 16px;}
.allMenuContainer .allMenuWrap > .rightMenu .rightTop > li > a{display: block; color: #999; line-height: 36px; font-weight: 500; font-size: 1.25rem;}
.allMenuContainer .allMenuWrap > .rightMenu .rightBtm{}
.allMenuContainer .allMenuWrap > .rightMenu .rightBtm > a{margin-left: 16px;}