body {overflow-x: hidden;}
/* 본문 section 1 */
main section {height: 100vh;}
main .bnrPage {}
main .bnrPage .bnr {z-index: -9999; cursor: pointer;}
main .bnrPage .bnr .bnr1 {
    display: block; 
    width: 100vw; height: 100vh;
    background-image: url(../images/bnr1.jpg);
    background-position: center top;
    background-size: cover;
    z-index: -9999;
}
main .bnrPage .bnr .bnr2 {
    display: block; 
    width: 100vw; height: 100vh;
    background-image: url(../images/bnr2.jpg);
    background-position: center top;
    z-index: -9999;
}
main .bnrPage .showPage {
    /* display: flex; 
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center; */
    background-color: rgba(0,0,0,0.6);
    width: 240px;
    padding: 12px 20px 15px;
    text-align: center; margin: 0 auto;
    border-radius: 500px;
    position: absolute;
    bottom: 30px; left: 45%;
}
main .bnrPage .showPage a {}
.swiper-button-prev::after,
.swiper-button-next::after {
    content: none;
}
main .bnrPage .showPage .prev {}
main .bnrPage .showPage .prev img {}
main .bnrPage .showPage .pageBtn {}
main .bnrPage .showPage .pageBtn .currentPage {color: #fff; font-weight: bold;}
main .bnrPage .showPage .pageBtn .swiper-pagination-current {color: #fff; font-weight: bold;}
main .bnrPage .showPage .pageBtn .swiper-pagination-total {color: #999; font-weight: bold;}
main .bnrPage .showPage .next {}
main .bnrPage .showPage .next img {}
/* 본문 section 1 모바일 버전 */
main .bnrPage .mobileBnr {display: none;}
/* 본문 section 2 */
main  .menuStory {
    /* background-color: aqua; */
    display: flex; justify-content: center; align-items: center;
    padding-left: 50px;
    padding-top: 50px;
}
main  .menuStory .menuStoryContainer {
    /* background-color: pink; */
    max-width: 1320px; 
    padding-left: 50px;
    padding-top: 50px;
    margin: 0 auto;
}
main  .menuStory .menuStoryContainer h1 {
    /* background-color: yellow; */
    display: inline-block;
    font-size: 6rem; font-weight: bold;
    font-family: 'Kanit';
    position: relative; z-index: 10;
}
main  .menuStory .menuStoryContainer h1::after {
    background-color: #d50037; 
    content: ''; display: block;
    position: absolute; right: -30px; bottom: 13px;
    margin-bottom: 8px;
    width: 20px; height: 20px;
}
main  .menuStory .menuStoryContainer .contents {
    display: flex; flex-flow: row nowrap;
    justify-content: space-between;
}
main  .menuStory .menuStoryContainer .contents aside {margin-top: 80px;}
main  .menuStory .menuStoryContainer .contents aside > a {
    display: flex; flex-flow: column;
    padding-bottom: 60px; 
}
main  .menuStory .menuStoryContainer .contents aside > a > span {
    font-weight: 700; font-size: 0.875rem; display: none;
}
main  .menuStory .menuStoryContainer .contents aside > a > em {
    font-weight: bold; font-family: Kanit;
    font-size: 2rem; color: #999;
    transition: color 0.5s cubic-bezier(0.16, 0.04, 0.03, 0.95);
    width: max-content;
}
main  .menuStory .menuStoryContainer .contents aside > a.activeA > span {
    font-weight: 700; font-size: 0.875rem; display: inline; 
}
main  .menuStory .menuStoryContainer .contents aside > a.activeA > em {
    font-weight: bold; font-family: Kanit;
    font-size: 2rem; color: #000;
    border-bottom: 3px solid #000;
    width: max-content;
}
/* 본문 2 right */
main  .menuStory .menuStoryContainer .contents .right {
    width: 60%;  position: relative; top: -55px;
}
main  .menuStory .menuStoryContainer .contents .right .rightImg {overflow: hidden;}
/* 공통 CSS */
main  .menuStory .menuStoryContainer .contents .right .rightImg .coffeeStory,
main  .menuStory .menuStoryContainer .contents .right .rightImg .dessertStory,
main  .menuStory .menuStoryContainer .contents .right .rightImg .deliStory {
    display: flex; align-items: flex-end;
}
main  .menuStory .menuStoryContainer .contents .right .rightImg .coffeeStory li,
main  .menuStory .menuStoryContainer .contents .right .rightImg .dessertStory li,
main  .menuStory .menuStoryContainer .contents .right .rightImg .deliStory  li{
    width: 176px; 
    /* margin-right: 30px;  */
    position: relative;
}
main  .menuStory .menuStoryContainer .contents .right .rightImg .coffeeStory .active,
main  .menuStory .menuStoryContainer .contents .right .rightImg .dessertStory .active,
main  .menuStory .menuStoryContainer .contents .right .rightImg .deliStory .active {
    width: 488px;
}
main  .menuStory .menuStoryContainer .contents .right .rightImg .coffeeStory > li > a,
main  .menuStory .menuStoryContainer .contents .right .rightImg .dessertStory > li > a,
main  .menuStory .menuStoryContainer .contents .right .rightImg .deliStory  > li > a {
    display: block;
}
main  .menuStory .menuStoryContainer .contents .right .rightImg .coffeeStory > li > a > img,
main  .menuStory .menuStoryContainer .contents .right .rightImg .dessertStory > li > a > img,
main  .menuStory .menuStoryContainer .contents .right .rightImg .deliStory  > li > a > img {
    width: 64%;
}
main  .menuStory .menuStoryContainer .contents .right .rightImg .dessertStory,
main  .menuStory .menuStoryContainer .contents .right .rightImg .deliStory {display: none;}
main  .menuStory .menuStoryContainer .contents .right .rightImg .coffeeStory {}
main  .menuStory .menuStoryContainer .contents .right .rightImg .coffeeStory > li {}
main  .menuStory .menuStoryContainer .contents .right .rightImg .coffeeStory > .active {}
main  .menuStory .menuStoryContainer .contents .right .rightImg .coffeeStory > li > a {}
main  .menuStory .menuStoryContainer .contents .right .rightImg .coffeeStory > li > a > img {}
main  .menuStory .menuStoryContainer .contents .right .rightImg .dessertStory {}
main  .menuStory .menuStoryContainer .contents .right .rightImg .dessertStory > li {}
main  .menuStory .menuStoryContainer .contents .right .rightImg .dessertStory > li > a {}
main  .menuStory .menuStoryContainer .contents .right .rightImg .dessertStory > li > a > img {}
main  .menuStory .menuStoryContainer .contents .right .rightImg .deliStory {}
main  .menuStory .menuStoryContainer .contents .right .rightImg .deliStory > li {}
main  .menuStory .menuStoryContainer .contents .right .rightImg .deliStory > li > a {}
main  .menuStory .menuStoryContainer .contents .right .rightImg .deliStory > li > a > img {}
/* imginfo */
main  .menuStory .menuStoryContainer .contents .right .imgInfo {
    background-color: #000; width: 424px; display: flex;
    flex-flow: row nowrap; justify-content: space-between;
    padding: 15px 20px 10px; position: absolute;
    bottom: -15px; left: 30px; z-index: 1;
}
main  .menuStory .menuStoryContainer .contents .right .imgInfo a {}
main  .menuStory .menuStoryContainer .contents .right .imgInfo .prev {}
main  .menuStory .menuStoryContainer .contents .right .imgInfo .prev > img {}
main  .menuStory .menuStoryContainer .contents .right .imgInfo .currentMenu {}
main  .menuStory .menuStoryContainer .contents .right .imgInfo .currentMenu .detailed {color: #fff;}
main  .menuStory .menuStoryContainer .contents .right .imgInfo .next {}
main  .menuStory .menuStoryContainer .contents .right .imgInfo .next > img {}
/* 본문 section 3 */
main .aList {}
main .aList .contents {
    height: 100%;
    background-image: url(../images/main_alist_pc.jpg);
    background-size: cover;
    background-position: center bottom;
}
main .aList .txtWrap {
    display: flex; 
    align-items: center;
    height: 100%; 
    max-width: 1320px; 
    margin: 0 auto;
}
main .aList .txtWrap .txt {}
main .aList .txtWrap .txt * {
    font-weight: 800; font-family: 'Noto Sans KR';
    margin-bottom: 10px;
}
main .aList .txtWrap .txt h1 {
    font-size: 6rem; position: relative;
    display: inline-block;
}
main .aList .txtWrap .txt h1::after {
    background-color: #d50037; 
    content: ''; display: block;
    width: 20px; height: 20px;
    position: absolute; 
    bottom: 13px;
    right: -40px;
    margin-bottom: 4px;
}
main .aList .txtWrap .txt h2 {
    font-size: 2rem; font-family: 'kanit'; padding: 40px 0;
}
main .aList .txtWrap .txt h3 {font-size: 1.5rem; padding-bottom: 10px;}
main .aList .txtWrap .txt p {
    font-size: 1.125rem; font-weight: 400; color: #534d49;
    width: 500px; line-height: 1.4; 
    line-height: 1.5; font-weight: 500;
}
/* 본문 section 4 */
main .brandSupport {
    /* background-color: aqua;  */
    position: relative;
}
main .brandSupport .brandSupportWrap {
    /* background-color: lime;  */
    padding-bottom: 50px;
    max-width: 1320px;
    position: relative;
    margin: 0 auto;
}
main .brandSupport .brandSupportWrap h1 {
    font-size: 6rem; font-weight: bold; display: inline-block; position: relative;
    top: 140px; 
    left: 5%; z-index: 1; font-family: 'kanit';
    line-height: 1;
}
main .brandSupport .brandSupportWrap h1::after {
    background-color: #d50037; 
    content: ''; display: block;
    width: 20px; height: 20px;
    position: absolute; 
    bottom: 10px;
    right: -35px;
    margin-bottom: 4px;
}
main .brandSupport .brandSupportWrap .currentPage {
    background-color: #000; width: 312px; padding: 15px 10px;
    display: flex; flex-flow: row nowrap; justify-content: space-between;
    position: absolute; 
    right: 58px; bottom: 50px; z-index: 10;
}
main .brandSupport .brandSupportWrap .currentPage .prev {}
main .brandSupport .brandSupportWrap .currentPage .prev img {}
main .brandSupport .brandSupportWrap .currentPage .currentPlace {color: #999; font-weight: bold; text-align: center;}
main .brandSupport .brandSupportWrap .currentPage .currentPlace .swiper-pagination-current {color: #fff; font-weight: bold;}
main .brandSupport .brandSupportWrap .currentPage .currentPlace .swiper-pagination-total {color: #999; font-weight: bold;}
main .brandSupport .brandSupportWrap .currentPage .currentPlace .next {}
main .brandSupport .brandSupportWrap .currentPage .currentPlace .next img {}
/* main .brandSupport .brandSupportWrap .contents {background-color: #999; } */
main .brandSupport .brandSupportWrap .contents {overflow: hidden;}
main .brandSupport .brandSupportWrap .contents ul {
    /* background-color: #d50037; */
    width: max-content; z-index: -1;
    margin: 0 auto; display: flex;
    position: relative; 
    left: 25%;
    top: 0;
}
main .brandSupport .brandSupportWrap .contents ul li {
    display: flex; flex-flow: row nowrap; position: relative; padding-right: 350px;
}
main .brandSupport .brandSupportWrap .contents ul li .sideInfo {
    transform-origin: left bottom;
    transform: rotate(-90deg);
    position: absolute;
    left: -7px; bottom: 5px;
    padding: 10px 0;
    color: #000;
}
main .brandSupport .brandSupportWrap .contents ul li .sideInfo::before {
    content: '';
    display: inline-block; width: 40px; height: 1px; margin-right: 8px; background-color: #000; margin-bottom: 5px;
}
main .brandSupport .brandSupportWrap .contents ul li p {color: #333;}
main .brandSupport .brandSupportWrap .contents ul li p img {width: 552px;}
main .brandSupport .brandSupportWrap .contents ul li .title {
    margin-left: 70px; 
    margin-top: 25%;
}
main .brandSupport .brandSupportWrap .contents ul li .cnd {margin-top: 20%;}
main .brandSupport .brandSupportWrap .contents ul li .title img {}
main .brandSupport .brandSupportWrap .contents ul li .title .titleArrow {}
main .brandSupport .brandSupportWrap .contents ul li .title .titleArrow h2 {}
main .brandSupport .brandSupportWrap .contents ul li .title .titleArrow h2 a {
    font-size: 2rem; font-weight: 800; text-decoration: underline 2px;
    display: flex; align-items: center;
}
main .brandSupport .brandSupportWrap .contents ul li .title .titleArrow h2 a img {width: 30px; margin-left: 20px; opacity: 0.8;}
main .brandSupport .brandSupportWrap .contents ul li .title .titleArrow p {
    /* background-color: yellow; */
    margin-top: 30px; font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.4;
}
/* 본문 section 5 */
main .franchise {
    display: flex; justify-content: center; align-items: center; 
    width: 100%; position: relative;
    background-color: #F5F5F5; z-index: -3;
}
main .franchise .animationBg {
    position: absolute; top: 0; left: 0;
    z-index: -1;
    width: 200%; height: 100%;
    background-image: url(../images/busan1.png),url(../images/chuncheon1.png),url(../images/eulji.png),url(../images/jeju.png),url(../images/skytown.png),url(../images/wangsan.png);
    background-repeat: no-repeat;
    background-position: 0 10%, 15% 40%, 30% 80%, 45% 25%, 60% 60%, 85% 90%/* dot 위치 적기 6개 */;
    animation: franchiseBg 60s linear infinite;
    transform: translateX(200%);
}
main .franchise .dotBg > span {
    position: absolute; top: 0; left: 0; z-index: -2; width: 100%; height: 100%; background-repeat: no-repeat;
    animation: dotBg 8s forwards linear infinite, opacity 8s alternate infinite;
    background-image: url(../images/dot.png),url(../images/dot.png),url(../images/dot.png),url(../images/dot.png),url(../images/dot.png);
    background-size: 0.5%;
    /* background-position: 0 10%, 20% 70%, 40% 25%, 60% 90%, 80% 30%, 100% 80%; */
}
main .franchise .dotBg > span:nth-child(1) {
    background-position: 0 10%;
}
main .franchise .dotBg > span:nth-child(2) {
    background-position: 25% 70%;
}
main .franchise .dotBg > span:nth-child(3) {
    background-position: 50% 25%;
}
main .franchise .dotBg > span:nth-child(4) {
    background-position: 75% 90%;
}
main .franchise .dotBg > span:nth-child(5) {
    background-position: 100% 30%;
}
main .franchise .dotBg > span:nth-child(6) {
    background-position: 125% 80%;
}
main .franchise .contents {
    text-align: center;
    margin: 0 auto;
    padding-top: 50px;
}
main .franchise .contents h1 {
    font-size: 6rem;
    font-weight: 700;
    font-family: 'kanit';
    margin-bottom: 20px;
    position: relative;
}
main .franchise .contents h1::after {
    background-color: #d50037; 
    content: ''; display: block;
    width: 20px; height: 20px;
    position: absolute; 
    bottom: 21px;
    right: -35px;
    margin-bottom: 4px;
}
main .franchise .contents h2 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 30px;
    line-height: 1.5;
}
main .franchise .contents p {
    margin: 0 auto;
    font-size: 1.125rem;
    color: #333;
    line-height: 1.5;
    width: 450px;
    margin-bottom: 40px;
}
main .franchise .contents .businessLink {}
main .franchise .contents .businessLink a {
    width: 240px; background-color: #fff; border: 2px solid #000;
    font-size: 1.25rem; display: inline-block;
    font-weight: 700; padding: 20px 15px;
    margin: 0 5px; position: relative;
    overflow: hidden;
}
main .franchise .contents .businessLink a:hover {z-index: 2; color: #fff; background-color: rgba(0,0,0,0); transition: color 0.3s;}
main .franchise .contents .businessLink a:hover::before {
    content: ''; width: 100%; height: 100%; 
    z-index: -1;
    background-color: #000; display: block; position: absolute; left: 0; top: 0;
    animation: fillColor 0.3s; 
}
main .franchise .contents .businessLink a img {width: 28px; margin-bottom: 5px; margin-left: 20px;}
/* 본문 section 6 */
main .notice {
    /* background-color: aqua; */
    padding: 0 300px;
    display: flex; 
    justify-content: center;
    align-items: center;
}
main .notice .noticeWrap {
    display: flex; 
    justify-content: space-between;
    /* background-color: pink; */
    max-width: 1320px;
    width: 90%;
}
main .notice .noticeWrap .title {
    /* background-color: yellow; */
    background-image: url(../images/main_news_illust.svg);
    background-repeat: no-repeat;
    background-position: left bottom;
}
main .notice .noticeWrap .title h1 {
    font-size: 6rem;
    font-weight: 700;
    font-family: 'kanit';
    line-height: 1;
    position: relative;
    top: -50px;
}
main .notice .noticeWrap .title h1::after {
    content: ''; display: block;
    position: absolute; right: -35px; bottom: 13px;
    margin-bottom: 4px;
    background-color: #d50037; width: 20px; height: 20px;
}
main .notice .noticeWrap .title h2 {
    font-size: 1.25rem;
    font-weight: 700;
}
main .notice .contents {
    width: 50%; overflow: hidden;
}
main .notice .contents a {
    display: block;
    border-bottom: 1px solid #e7e7e7;
    padding:40px 30px 0; position: relative;
}
main .notice .contents a:hover::before {
    content: ''; z-index: -1; width: 100%; height: 100%; 
    background-color: #222; display: block; position: absolute; left: 0; top: 0;
    animation: fillColor 0.3s; 
}
main .notice .contents a:last-child {
    margin-bottom: 0;
}
main .notice .contents a p {}
main .notice .contents a p em {
    color: #d50037;
    font-weight: 500;
    display: block;
}
main .notice .contents a h3 {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 20px 0 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
main .notice .contents a .date {
    color: #333;
    margin-bottom: 40px;
    font-weight: 500;
}
main .notice .contents a:hover p em {
    color: #d50037;
    font-weight: 500;
    display: block;
}
main .notice .contents a:hover h3 {
    color: #fff;
    text-decoration: underline 0.1px;
}
main .notice .contents a:hover .date {
    color: #fff;
}