main {padding-top: 172px;}
main .container {
    padding: 0 50px;
    max-width: 1216px; width: 100%; 
    margin: 0 auto;
}
main .container .pathWrap {}
main .container .pathWrap > a {color: #707070; font-weight: 700; font-size: 0.875rem;}
main .container .pathWrap > a:nth-child(2) {}
main .container .pathWrap > a:nth-child(2)::before {
    content: '';
    display: inline-block;
    background-color: #000;
    width: 4px; height: 4px;
    margin-right: 10px;
    margin-left: 5px;
    position: relative;
    top: -4px;
}
main .container .pathWrap > a:nth-child(2)::after {
    content: '';
    display: inline-block;
    background-color: #000;
    width: 4px; height: 4px;
    margin-right: 5px;
    margin-left: 10px;
    position: relative;
    top: -4px;
}
main .container .pathWrap .menueWrap {display: inline-block; position: relative;}
main .container .pathWrap .menueWrap > a {color: #d50037; font-weight: 700; font-size: 0.875rem;}
main .container .pathWrap .menueWrap > a::after{
    font-family: 'Font Awesome 5 Free';
    position: relative;
    content: '\f107';
    color: #d50037;
    font-weight: 600;
    margin-left: 3px;
    top: 1px;
}
main .container .pathWrap .menueWrap .introducingMenu.show {display: flex;}
main .container .pathWrap .menueWrap .introducingMenu {
    z-index: 2;
    position: absolute;
    background-color: #fff;
    width: 157px;
    display: flex; flex-flow: column nowrap;
    color: #d50037; font-weight: 700; font-size: 0.875rem;
    border: 1px solid #ccc;
    padding: 10px 16px;
    left: 0; top: 25px;
    transform: translateX(-10%);
    display: none;
}
main .container .pathWrap .introducingMenu a:last-child {color: #d50037; font-weight: 700; font-size: 0.875rem;}
main .container .pathWrap .introducingMenu a {
    color: #999; font-weight: 600; font-size: 0.875rem;
    padding: 8px 0; white-space: nowrap;
}
main .container .pathWrap .introducingMenu a:hover {
    color: red; color: #000; text-decoration: underline;
}
main .container .contents {}
main .container .contents h1{
    margin: 56px 0 64px; font-size: 4.5rem; font-weight: 700; line-height: 1.5;
}
main .container .contents .titleWrap{display: flex;}
main .container .contents .titleWrap h2{}
main .container .contents .titleWrap h2 a{
    font-size: 1.25rem; font-weight: 700; padding: 20px 0 2px;
}
main .container .contents .titleWrap h2:first-child a{
    margin-right: 40px; color: #d50037; border-bottom: 2px solid #d50037;
}
main .container .contents .membership{margin-top: 64px; margin-bottom: 120px;}
main .container .contents .membership .membershipTop{display: flex; justify-content: space-between; padding-bottom: 120px;}
main .container .contents .membership .membershipTop .left{width: 44%;}
main .container .contents .membership .membershipTop .left h3{font-size: 3.5rem; font-weight: 800;}
main .container .contents .membership .membershipTop .left h4{font-weight: 700; margin-top: 32px; font-size: 2rem; line-height: 1.5;}
main .container .contents .membership .membershipTop .left p{margin-top: 64px; color: #333; padding-right: 32px; line-height: 1.5; font-weight: 500;}
main .container .contents .membership .membershipTop .right{width: 479px;}
main .container .contents .membership .membershipTop .right img{width: 100%;}
main .container .contents .membership .membershipBtm{background-color: #f5f5f5; padding: 96px 72px 0 72px; text-align: center;}
main .container .contents .membership .membershipBtm h4{position: relative; width: max-content; margin: 0 auto; margin-top: 20px;}
main .container .contents .membership .membershipBtm h4 > span {position: absolute;}
main .container .contents .membership .membershipBtm h4 > span:nth-child(2){top: -34px; right: -52px;}
main .container .contents .membership .membershipBtm h4 > span:nth-child(3){top: -53px; right: -67px;}
main .container .contents .membership .membershipBtm h4 > span:nth-child(4){top: -75px; right: -44px;}
main .container .contents .membership .membershipBtm h4 > span:nth-child(5){top: -91px; right: -63px;}
main .container .contents .membership .membershipBtm h4,
main .container .contents .membership .membershipBtm h4 > em{font-size: 2rem; font-weight: 700;}
main .container .contents .membership .membershipBtm h4 > em{color: #d50037;}
main .container .contents .membership .membershipBtm p{margin-top: 32px; line-height: 1.5; font-size: 1.125rem; color: #333; font-weight: 500;}
main .container .contents .membership .membershipBtm ul{display: flex; flex-wrap: wrap; margin-top: 72px;}
main .container .contents .membership .membershipBtm ul li{
    background-color: #fff; border-radius: 31.5px; width: calc((100% - 32px) / 2);
    font-size: 1.125rem; font-weight: 700; padding: 18px;
}
main .container .contents .membership .membershipBtm ul li:nth-child(n+3){margin-top: 24px;}
main .container .contents .membership .membershipBtm ul li:nth-child(2n+2){margin-left: 32px;}
main .container .contents .membership .membershipBtm ul li > strong{font-size: 1.125rem; font-weight: 700; color: #d50037;}
main .container .contents .membership .membershipBtm ul li > em{font-size: 1.125rem;}
main .container .contents .membership .membershipBtm .imgWrap{margin-top: 180px; position: relative; height: 535px; padding-bottom: 97px;}
main .container .contents .membership .membershipBtm .imgWrap > img{width: 10%; position: absolute;}
main .container .contents .membership .membershipBtm .imgWrap > img:nth-child(1){left: -72px; bottom: 97px; width: 224px;}
main .container .contents .membership .membershipBtm .imgWrap > img:nth-child(2){left: 15%; bottom: 107px; width: 283px;}
main .container .contents .membership .membershipBtm .imgWrap > img:nth-child(3){bottom: 150px; width: 283px;}
main .container .contents .membership .membershipBtm .imgWrap > img:nth-child(4){bottom: 150px; width: 231px; right: -72px;}
main .container .contents > h3{font-size: 2rem; font-weight: 700; line-height: 1.5;}
main .container .contents .orderSave{margin-top: 16px; display: flex; justify-content: space-between;}
main .container .contents .orderSave li{margin-bottom: 80px; display: flex; flex-flow: column nowrap; justify-content: center; align-items: center; padding: 48px 0; border: 1px solid #d6d6d6; width: calc((100% - 96px) / 4);}
main .container .contents .orderSave li img{width: 50%;}
main .container .contents .orderSave li em{color: #d50037; margin-top: 10px; font-weight: 500;}
main .container .contents .orderSave li span{margin-top: 10px; font-size: 1.25rem; font-weight: 700;}